<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TripleV</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Loại</a></li>
                <li><a href="#">Hãng Sản Xuất</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                        {{# if session.cart.totalItems }}
                        <span>({{session.cart.totalItems}})</span>
                        {{/if}}
                    </a>
                    {{# if session.cart.totalItems }}
                    <div class="dropdown-menu">
                        <div class="cart">
                            {{# each session.cart.items }}
                            <div class="row">
                                <div class="col-xs-4">
                                    {{ this.item.title }}
                                </div>
                                <div class="col-xs-4 text-right">
                                    <span class="badge">{{ this.quantity }}</span>
                                </div>
                                <div class="col-xs-4 text-right">
                                    {{ this.price }} CHF
                                </div>
                            </div>
                            {{/each}}
                            <div class="row">
                                <div class="text-right">
                                    <div class="totalPrice">Total: {{ session.cart.totalPrice }} CHF</div>
                                    <a href="/cart/" class="btn btn-success">Procceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    {{!--
    <div class="row ">
        <div class="col-xs-4">
            <div class="pull-left">
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                <a href="/products">Loại</a>
                <a href="/products">Hãng sản xuất</a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    {{# if session.cart.totalItems }}
                    <span>({{session.cart.totalItems}})</span>
                    {{/if}}
                </a>
                {{# if session.cart.totalItems }}
                <div class="dropdown-menu">
                    <div class="cart">
                        {{# each session.cart.items }}
                        <div class="row">
                            <div class="col-xs-4">
                                {{ this.item.title }}
                            </div>
                            <div class="col-xs-4 text-right">
                                <span class="badge">{{ this.quantity }}</span>
                            </div>
                            <div class="col-xs-4 text-right">
                                {{ this.price }} CHF
                            </div>
                        </div>
                        {{/each}}
                        <div class="row">
                            <div class="text-right">
                                <div class="totalPrice">Total: {{ session.cart.totalPrice }} CHF</div>
                                <a href="/cart/" class="btn btn-success">Procceed</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    --}}