	<div class="admin-page">
		<div class="col-md-2 col-md-offset-1 user-info-menu">

			<a href="#"><h3  id="title-display-name">Admin</h3></a>
			<h7>Trang quản trị - Admin</h7>
			<ul class="user-option"> 
				<a href="/admin">
					<div id="list-user-info">
						<span class="glyphicon glyphicon-user"></span> 
						<span>&nbsp;Quản lý sản phẩm</span>
					</div> 
				</a>
				<a href="/admin/orders">
					<div id="list-orders">
						<span class="glyphicon glyphicon-list-alt"></span> 
						<span>&nbsp;Quản lý đơn hàng</span>

					</div> 
				</a>
			</ul>
		</div>
<!-- 	<div class="col-md-6">
		&nbsp;
		&nbsp;
	</div> -->
	{{#if isDetailMode}}
	<div class="col-xs-12 col-md-8 form-border" id="table-products">
		<div class="admin-products">
			<table class="shop-table shop-table-products">
				<thead>
					<tr style="width: 100%;">
						<td> <h6 style="width: 60%;">Mã số</h6> </td>
						<td> <h6 style="width: 60%;"> Hình ảnh</h6> </td>
						<td><h6 style="width: 60%;">Tên</h6></td>
						<td><h6 style="width: 60%;">Loại</h6></td>
						<td><h6 style="width: 60%;">Nhà sản xuất</h6></td>
						<td><h6 style="width: 60%;">Số lượng</h6></td>
						<td><h6 style="width: 60%;">Đơn giá</h6></td>
						<td>Thao tác</td>
					</tr>
				</thead>	
				<tbody>
					{{#each products}}
					<tr class="table-row">
						<form action="/admin/updateid={{this.id}}" method="post">
						<td style="width: 10%;">{{this.id}}</td>
						<td style="width: 10%;">
							<img src="/assets/image/{{this.image}}" alt="" class="shop-image">
						</td>
						<td style="width:20%;">
							<input style="width:100%;" style="text-align: right;" type="text" value="{{this.name}}" name="name">
						</td>
						<td>
							<select name="type" value="{{this.type}}">
								{{#each ../types}}

									{{#ifCond ../this.type '==' this.type}}
										<option value="{{@index}}" selected="selected">
											{{this.type}}
										</option>
									{{else}}
										<option value="{{@index}}">
											{{this.type}}
										</option>
									{{/ifCond}}
								{{/each}}
							</select>
						</td>
						<td>

							<select name="manufacturer">
								{{#each ../manufacturers}}

									{{#ifCond ../this.manufacturer '==' this.manufacturer}}
										<option value="{{@index}}" selected="selected">
											{{this.manufacturer}}
										</option>
									{{else}}
										<option value="{{@index}}">
											{{this.manufacturer}}
										</option>
									{{/ifCond}}
								{{/each}}
							</select>
							
						</td>
						<td>
							<input type="text" value="{{this.quantity}}" name="quantity">
						</td>
						<td>
							<input style="width:60%;" style="text-align: right;" type="text" value="{{this.price}}" name="price">
{{!-- 							<strong class="red">
								{{this.price}}<sup>đ</sup>
							</strong> --}}
							đ
						</td>
						<td><button type="submit" class="btn btn-success right">Cập nhật</button></td>
						</form>
					</tr>
					{{/each}}
					
				</tbody>

			</table>


		</div>
	</div>
	{{else}}
		<div  id="table-orders" class="col-xs-12 col-md-6 form-border" style="display: block;">
			{{#if orders}}
			{{else}}
			<h3 style="text-align: center;">Không có đơn hàng nào.</h3>
			{{/if}}
			{{#each orders}}
			<div class="order">


				<div class="order-title">
								
									
						<h4 class="pull-left">Đơn hàng {{this.order.id}}</h4>
						<form action="/admin/orders/updateid={{this.order.id}}" method="post">
							<div class="pull-right">
								
							
						{{!-- <h5	class="pull-right color-red">{{this.order.status}}</h5> --}}
								
									{{#ifCond this.order.status '==' 'Chưa giao'}}
										<select name="status" style="color: #f00;">
										<option style="color: #f00;" value="0" selected="selected">
											Chưa giao
										</option>
										<option style="color: #0f0;" value="1">
											Đang giao
										</option>
										<option style="color: #00f;" value="2">
											Đã giao
										</option>
									{{/ifCond}}
									{{#ifCond this.order.status '==' 'Đang giao'}}
									<select name="status" style="color: #0f0;">
										<option style="color: #f00;" value="0">
											Chưa giao
										</option>
										<option style="color: #0f0;" value="1" selected="selected">
											Đang giao
										</option>
										<option style="color: #00f;" value="2">
											Đã giao
										</option>
									{{/ifCond}}
									{{#ifCond this.order.status '==' 'Đã giao'}}
									<select name="status" style="color: #00f;">
										<option style="color: #f00;" value="0">
											Chưa giao
										</option>
										<option style="color: #0f0;" value="1">
											Đang giao
										</option>
										<option style="color: #00f;" value="2" selected="selected">
											Đã giao
										</option>
									{{/ifCond}}
										
								</select>
							<button type="">Áp dụng</button>
						</div>
					</form>
				</div>	
				<table class="shop-table ">
	<!-- 				<thead>
							<tr>
								<td	 class="col-md-2">a</td>
								<td	 class="col-md-4">2</td>
								<td	 class="col-md-2">3</td>
								<td	 class="col-md-2">4</td>
								<td	 class="col-md-2">5</td>
							</tr>
					</thead>	 -->
					<tbody>
						{{#each this.products}}
						<tr class="table-row">
							<td>
								<img src="/assets/image/{{this.product.image}}" alt="" class="shop-table-image">
							</td>
							<td>
								<div class="shop-details">
									<div class="productname">
										{{this.product.name}}
									</div>

								</div>
							</td>
							<td>
								<!-- <h5> -->
									{{this.product.price}}<sup>đ</sup>
								<!-- </h5> -->
							</td>
							<td>
								{{this.product.quantity}}
							</td>
							<td>
								<!-- <h5> -->
									<strong class="red">
										{{this.totalprice}}
									</strong>
								<!-- </h5> -->
							</td>
							<!-- <td>Đã giao</td> -->
						</tr>
						{{/each}}
						
					</tbody>
					<tfoot>
						<tr>
							<td>
								<a href="/order/detailId={{this.order.id}}" class="pull-left button" style="margin-top: 8px;">
									Xem chi tiết
								</a>
							</td>
							<td colspan="6">
								<h4 class="pull-right" style="margin-top: 8px;">Tổng tiền: {{this.totalprice}} VND</h4>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{{/each}}
			
		</div>
	{{/if}}
	
</div>

<script>
	var delivery = document.getElementById("delivery");
	delivery.onchange = function() {
		// alert(delivery.value);
		if (delivery.value == 0) {
			delivery.style.color = "#ff5252";
		} else if (delivery.value == 1) {
			delivery.style.color = "#dd0";
		} else {
			delivery.style.color = "#00f";
		}
	}

	var listuserinfo = document.getElementById("list-user-info");
	var listorders = document.getElementById("list-orders");
	listuserinfo.style.backgroundColor = "#eee";
	listuserinfo.onclick = function() {
		var orders = document.getElementById("table-orders");
		// orders.style.display = 'none';
		var userinfo = document.getElementById("table-user-info");
		userinfo.style.display = 'block';
		listuserinfo.style.backgroundColor = "#ddd";
		listorders.style.backgroundColor = "unset";
	};

	listorders.onclick = function() {
		// alert("asd");
		var orders = document.getElementById("table-orders");
		orders.style.display = 'block';
		var userinfo = document.getElementById("table-user-info");
		// userinfo.style.display = 'none';
		listorders.style.width = '100%';
		listorders.style.backgroundColor = "#ddd";
		listuserinfo.style.backgroundColor = "unset";
	};


</script>
