<div class="cart col-md-12 col-sm-12">

	<div class="col-md-8 col-md-offset-2" style="margin-top:100px;">
		<h2 class="cart-title">
			<span class="glyphicon glyphicon-shopping-cart"></span>
			<span>&nbsp;Giỏ hàng của bạn</span>
		</h2>
	</div>
	{{# if products}}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div>

				<ul class="products-listItem">
					{{# each products}}
					<li class="products">
						<a href="/cart/remove/{{ this.products.id }}" class="remove">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</a>
						<div class="thumbnail col-xs-4 col-md-3">
							<img src="/assets/image/{{ this.products.image }}" alt="{{ this.products.name }}">
						</div>
						<div class="product-list-description col-md-9 col-xs-7">
							<div class="productname">
								{{ this.products.name }}
							</div>
							<p>
								<p class="product-price highlight-color">
									{{ this.products.price }}
									<sup>
										đ
									</sup>
								</p>
							</p>
							<p>
								Loại: {{ this.products.type }}
							</p>
							<p>
								Nhà sản xuất: {{ this.products.manufacturer }}
							</p>

							<div class="price">
								<div class="pull-right title">
									
									<span class="new_price">Tổng:</span>
									<span class="new_price">
										{{ this.totalPrice }}
										<sup>
											đ
										</sup>
									</span>
									<div class="button_group pull-left">
										<form method="post" action="/cart/inc/{{ this.products.id }}">
											<button type="button submit" class="button">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
											</button>
										</form>
										
										<i class="button">
											{{ this.count }}
										</i>
										<form method="post" action="/cart/dec/{{ this.products.id }}">
											<button type="button submit" class="button">
												<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
											</button>
										</form>

									</div>
									
								</div>
								<!-- <div class="list_bottom"> -->

								
									<!-- </div> -->
							</div>

						</div>
					</li>
						{{/each}}
				</ul>
			</div>
		</div>
	</div>	
</div>


	<div class="col-md-8 col-md-offset-2 product-payment">
		<div class="col-md-8 col-md-offset-2 product-payment">
			<h2 class="title">Tổng tiền hàng (2 sản phẩm): 
				<span>
					{{!-- {{# each totalPriceAllProd}} --}}
					{{ totalPriceAllProd }}
					{{!-- {{/each}} --}}
					<sup>
						đ
					</sup>
				</span>
			</h2>
			
		</div>
		
		<a class="button pull-right button" href="/payment/ORDER003">Thanh Toán</a>
		

		
	</div>

	{{else}}
		<h3 class="col-md-8 col-md-offset-2" style="margin-top: 100px;">Giỏ hàng của bạn hiện đang rỗng. Hãy chọn cho mình các sản phẩm rồi quay lại đây nào !!!</h3>
	{{/if}}
	
</div>