{{!-- <img src="assets/banner.jpg" width="100%" alt="123"> --}}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/banner/banner1.jpg" alt="Los Angeles">
    </div>
    <div class="item">
      <img src="assets/banner/banner2.jpg" alt="Chicago">
    </div>
    <div class="item">
      <img src="assets/banner/banner3.jpg" alt="New York">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
<div class="col-md-4 col-md-offset-4">
  <h2>10 sản phẩm lượt mua nhiều nhất</h2>
</div>
<!-- Slide 10 product -->
<div>
  <div class="col-md-12">
    <div class="carousel slide multi-item-carousel" id="theCarousel1">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            {{# each topbuy_products }}
            {{#ifCond @index '==' 0}}
            <li class="col-sm-2 col-sm-offset-1"> 
              {{else}}
              <li class="col-sm-2"> 
                {{/ifCond}}
                <div class="thumbnail">
                  <a href="#"><img src="/assets/image/{{ this.image }}" alt=""></a>
                </div>
                <div class="caption-box">
                  <h4>{{ this.name }}</h4>
                  <p>{{ this.price }}</p>
                  <a class="btn btn-success btn-mini" href="#">Chi tiết</a>
                </div>
              </li>
              {{/each}}
            </ul>
          </div><!-- /Slide1 --> 




          <div class="item">
            <ul class="thumbnails">
              {{# each next_topbuy_products }}
              {{#ifCond @index '==' 0}}
              <li class="col-sm-2 col-sm-offset-1"> 
                {{else}}
                <li class="col-sm-2"> 
                  {{/ifCond}}
                  <div class="thumbnail">
                    <a href="#"><img src="/assets/image/{{ this.image }}" alt=""></a>
                  </div>
                  <div class="caption-box">
                    <h4>{{ this.name }}</h4>
                    <p>{{ this.price }}</p>
                    <a class="btn btn-success btn-mini" href="#">Chi tiết</a>
                  </div>
                </li>
                {{/each}}
              </ul>            
            </div>
          </div>
          <a class="carousel-control" href="#theCarousel1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control slide-right" href="#theCarousel1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div> <!-- Slide 10 product -->

<div class="col-md-12" height="100px">
   <div>
     &nbsp;
   </div>
    <div>
     &nbsp;
   </div>
</div>
<div class="col-md-4 col-md-offset-4">
  <h2>10 sản phẩm lượt xem nhiều nhất</h2>
</div>
<br>
<br>
<!-- Slide 10 product -->

<div>
  <div class="col-md-12">
    <div class="carousel slide multi-item-carousel" id="theCarousel2">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            {{# each topview_products }}
            {{#ifCond @index '==' 0}}
            <li class="col-sm-2 col-sm-offset-1"> 
              {{else}}
              <li class="col-sm-2"> 
                {{/ifCond}}
                <div class="thumbnail">
                  <a href="#"><img src="/assets/image/{{ this.image }}" alt=""></a>
                </div>
                <div class="caption-box">
                  <h4>{{ this.name }}</h4>
                  <p>{{ this.price }}</p>
                  <a class="btn btn-success btn-mini" href="#">Chi tiết</a>
                </div>
              </li>
              {{/each}}
            </ul>
          </div><!-- /Slide1 --> 




          <div class="item">
            <ul class="thumbnails">
              {{# each next_topview_products }}
              {{#ifCond @index '==' 0}}
              <li class="col-sm-2 col-sm-offset-1"> 
                {{else}}
                <li class="col-sm-2"> 
                  {{/ifCond}}
                  <div class="thumbnail">
                    <a href="#"><img src="/assets/image/{{ this.image }}" alt=""></a>
                  </div>
                  <div class="caption-box">
                    <h4>{{ this.name }}</h4>
                    <p>{{ this.price }}</p>
                    <a class="btn btn-success btn-mini" href="#">Chi tiết</a>
                  </div>
                </li>
                {{/each}}
              </ul>            
            </div>
          </div>
          <a class="carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control slide-right" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div> <!-- Slide 10 product -->




