	<div class="container-fluid shop-products" style="margin-top: 100px;">
		<div class="left col-md-2" style="height: 400px; margin-right: 8%; border-right: 1px solid #ddd;">
			<div class="sanpham" style="margin-bottom: 0px;">
				<h3>Shop</h3>
				<hr style="border-color:#000; margin-top: 3px;margin-bottom: 0px">
				<a href="javascript:;" style="color:#333; width: 100%; margin-top: 10px; margin-bottom: 10px;" class="pull-left"><h5>Home</h5></a>
				{{!-- <ul class="nav nav-stacked">
					<li><a href="javascript:;" style="color:#000; width: 100%;" class="pull-left">Home</a></li>
					<li><a href="javascript:;" style="color:#000; width: 100%;" class="pull-left">Túi xách</a></li>
					<li><a href="javascript:;" style="color:#000; width: 100%;" class="pull-left">Balô</a></li>
				</ul> --}}
			</div><!--end tim kiem theo san pham-->
			<h3>Lọc theo danh sách</h3>
			<hr style="border-color:#000; margin-top: 3px">
			<!-- Tim theo loai -->
			<form action="/products/search" method="GET">
				<div id="type" class="loaisanpham">
					<h4>Loại sản phẩm</h4>
					{{# each types}}
					<div class="checkbox">
						<label>
							<input type="checkbox" name="type" value="{{this.type}}">
							{{this.type}}
						</label>
					</div>
					{{/each}}
				</div><!--end tim kiem theo loai-->
				<hr style="border-color:#000; margin-top: 3px">
				<!--Tim theo nha san xuat-->
				<div id="manufactory" class="branch">
					<h4>Nhà sản xuất</h4>
					{{# each branch}}
					<div class="checkbox">
						<label>
							<input type="checkbox" name="branch" value="{{this.manufacturer}}">
							{{this.manufacturer}}
						</label>
					</div>
					{{/each}}
				</div><!--ket thuc tim theo nha san xuat-->
				<!--Tim theo gia-->
				<hr style="border-color:#000; margin-top: 3px">
				<div id="price" class="price">
					<h4>Tìm theo giá</h4><br>
					<div class="form-group">
						<label for="minprice" class="control-label">Từ</label><br>
						<div class="col-sm-12">
							<input type="number" name="minprice" id="minprice" class="form-control" value="" pattern="" placeholder="Giá thấp nhất">
						</div>
						<label for="maxprice" class=" control-label">Đến</label><br>
						<div class="col-sm-12">
							<input type="number" name="maxprice" id="maxprice" class="form-control" value="	" pattern="" title="" placeholder="Giá cao nhất">
						</div>
					</div>
				</div>
				<!--ket thuc tim theo gia-->
				<br><br><br>
				<button type="submit" class="btn btn-primary center">Tìm kiếm</button>
				<br><br><br>
			</form>
		</div><!--end left bar-->
		<div class="right col-md-9" style="height: 400px">
			<div class="row" style="margin-top: 20px">
				<div class="tieude col-md-2">
					<h3 style="margin-top: 5px">Sản phẩm</h3>
					<div id="soluong"><h6 style="margin-top: 10px;">({{# each quantity}} {{ this }}{{/each}} sản phẩm)<h6></div>
				</div>
				<div class="sort col-md-4" style="float: right">
					<button id="menu-sort" type="button" class="btn btn-default dropdown-toggle col-md-10" style="border-radius: 0px;">
						<span style="float:left">Recommended</span>
						<span class="glyphicon glyphicon-menu-down" style="float: right"></span>
					</button>
				</div>
			</div>
			<div class="container-fluid">
				<div class="hienthisanpham" style="height: 300px">
					{{#if products13}}
					<div class="row col-md-12 margin-bottom-20px margin-top-20px">
						{{# each products13}}
						{{#if this}}
						<div class="item col-md-3 product margin-right-10per">
							<a href="/product/{{this.id}}"><img src="/assets/image/{{ this.image }}" style="width: 100%"></a>
							<div class="tensanpham"><h5>{{ this.name }}</h5></div>
							<div class="giasanpham"><h5 class="color-red"  style="margin-top: 4px; margin-bottom: 4px;">{{ this.price }} VND</h5></div>
							<div class="loaisanpham"><h6>{{ this.type }}</h6></div>
							<form class="col-md-5" action="/cart/add/{{ this.id }}" method="post">
								<button type="submit" class="btn btn-danger">Add Cart</button>
							</form>
							<form class="col-md-5" action="/cart/add/{{ this.id }}" method="post">
								<button type="submit" class="btn btn-success">Buy</button>
							</form>
						</div>
						
						{{/if}}
						{{/each}}
					</div>
					<div class="row col-md-12 margin-bottom-20px">
						{{# each products46}}
						{{#if this }}
						<div class="item col-md-3 product margin-right-10per" >
							<a href="/product/{{this.id}}"><img src="/assets/image/{{ this.image }}" style="width: 100%"></a>
							<div class="tensanpham"><h5>{{ this.name }}</h5></div>
							<div class="giasanpham"><h5 class="color-red" style="margin-top: 4px; margin-bottom: 4px;number-format: "###,##0.00" ;">{{ this.price }} VND</h5></div>
							<div class="loaisanpham"><h6>{{ this.type }}</h6></div>
							<form class="col-md-5" action="/cart/add/{{ this.id }}" method="post">
								<button type="submit" class="btn btn-danger">Add Cart</button>
							</form>
							<form class="col-md-5" action="/cart/add/{{ this.id }}" method="post">
								<button type="submit" class="btn btn-success">Buy</button>
							</form>
						</div>
						
						{{/if}}
						{{/each}}
					</div>
					<div class="row col-md-12 margin-bottom-20px">
						{{# each products79}}
						{{#if this }}
						<div class="item col-md-3 product margin-right-10per" >
							<a href="/product/{{this.id}}"><img src="/assets/image/{{ this.image }}" style="width: 100%"></a>
							<div class="tensanpham"><h5>{{ this.name }}</h5></div>
							<div class="giasanpham"><h5 class="color-red"  style="margin-top: 4px; margin-bottom: 4px;">{{ this.price }} VND</h5></div>
							<div class="loaisanpham"><h6>{{ this.type }}</h6></div>
							<form class="col-md-5" action="/cart/add/{{ this.id }}" method="post">
								<button type="submit" class="btn btn-danger">Add Cart</button>
							</form>
							<form class="col-md-5" action="/cart/add/{{ this.id }}" method="post">
								<button type="submit" class="btn btn-success">Buy</button>
							</form>
						</div>
						{{/if}}
						{{/each}}
					</div>
					{{else}}
					<div>
						No Products
					</div>
					{{/if}}
					<hr style="background-color: #ddd; height: 1px; width: 100%;">
					<div class="container-fluid text-center">
						<ul class="pagination pagination-lg text-center">
							{{# each pages}}
						  		<li><a style="color: #222;" href="/products/page={{ this }}">{{ this }}</a></li>
						  	{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>