	<div class="container-fluid" style="margin-top: 100px;">
		<div class="left col-md-2" style="height: 400px; margin-right: 8%; border-right: 1px solid #ddd;">
			<div class="sanpham" style="margin-bottom: 0px;">
				<h3>TÚI XÁCH</h3>
				<hr style="border-color:#000; margin-top: 3px;margin-bottom: 0px">
				<ul class="nav nav-stacked">
					<li><a href="#" style="color:#000">Home</a></li>
					<li><a href="#" style="color:#000">Túi xách</a></li>
					<li><a href="#" style="color:#000">Balô</a></li>
				</ul>
			</div><!--end tim kiem theo san pham-->
			<h3>LỌC THEO DANH SÁCH</h3>
			<hr style="border-color:#000; margin-top: 3px">
			<div class="loaisanpham">
				<h4>LOẠI SẢN PHẨM</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Vải
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Da
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Cotton
					</label>
				</div>
			</div><!--end tim kiem theo loai-->
			<hr style="border-color:#000; margin-top: 3px">
			<div class="kieudang">
				<h4>NHÀ SẢN XUẤT</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Le'vis
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Gucci
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Bally
					</label>
				</div>
			</div>
		</div><!--end left bar-->
		<div class="right col-md-9" style="height: 400px">
			<div class="row" style="margin-top: 20px">
				<div class="tieude col-md-2">
					<h3 style="margin-top: 5px">Sản phẩm</h3>
					<div id="soluong"><h6 style="margin-top: 10px;">({{# each quantity}} {{ this }}{{/each}} sản phẩm)<h6></div>
				</div>
				<div class="sort col-md-4" style="float: right">
					<button id="menu-sort" type="button" class="btn btn-default dropdown-toggle col-md-10" style="border-radius: 0px;">
						<span style="float:left">Recommended</span>
						<span class="glyphicon glyphicon-menu-down" style="float: right"></span>
					</button>
				</div>
			</div>
			<div class="container-fluid">
				<div class="hienthisanpham" style="height: 300px">
					{{#if products13}}
					<div class="row col-md-12 margin-bottom-20px margin-top-20px">
						{{# each products13}}
						{{#if this}}
						<div class="item col-md-3 product margin-right-10per">
							<a href="/product/{{this.id}}"><img src="/assets/image/{{ this.image }}" style="width: 100%"></a>
							<div class="tensanpham"><h5>{{ this.name }}</h5></div>
							<div class="giasanpham"><h5 class="color-red"  style="margin-top: 4px; margin-bottom: 4px;">{{ this.price }} VND</h5></div>
							<div class="loaisanpham"><h6>{{ this.type }}</h6></div>
						</div>
						{{/if}}
						{{/each}}
					</div>
					<div class="row col-md-12 margin-bottom-20px">
						{{# each products46}}
						{{#if this }}
						<div class="item col-md-3 product margin-right-10per" >
							<a href="/product/{{this.id}}"><img src="/assets/image/{{ this.image }}" style="width: 100%"></a>
							<div class="tensanpham"><h5>{{ this.name }}</h5></div>
							<div class="giasanpham"><h5 class="color-red" style="margin-top: 4px; margin-bottom: 4px;">{{ this.price }} VND</h5></div>
							<div class="loaisanpham"><h6>{{ this.type }}</h6></div>
						</div>
						{{/if}}
						{{/each}}
					</div>
					<div class="row col-md-12 margin-bottom-20px">
						{{# each products79}}
						{{#if this }}
						<div class="item col-md-3 product margin-right-10per" >
							<a href="/product/{{this.id}}"><img src="/assets/image/{{ this.image }}" style="width: 100%"></a>
							<div class="tensanpham"><h5>{{ this.name }}</h5></div>
							<div class="giasanpham"><h5 class="color-red"  style="margin-top: 4px; margin-bottom: 4px;">{{ this.price }} VND</h5></div>
							<div class="loaisanpham"><h6>{{ this.type }}</h6></div>
						</div>
						{{/if}}
						{{/each}}
					</div>
					{{else}}
					<div>
						No Products
					</div>
					{{/if}}
					<hr style="background-color: #ddd; height: 1px; width: 100%;">
					<div class="container-fluid text-center">
						<ul class="pagination pagination-lg text-center">
							{{# each pages}}
						  		<li><a href="/products/page={{ this }}">{{ this }}</a></li>
						  	{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>