
<div class="user-info">
			<div class="col-md-2 col-md-offset-2 user-info-menu">
				{{#with user}}
				<a href="#"><h3  id="title-display-name">{{displayname}}</h3></a>
				{{/with}}
				<h7>Trang thông tin người dùng</h7>
				<ul class="user-option"> 
					<a href="/user/detail">
						<div id="list-user-info">
							<span class="glyphicon glyphicon-user"></span> 
							<span>&nbsp;Thông tin cá nhân</span>
						</div> 
					</a>
					<a href="/user/orders">
						{{#if isDetailMode}}
						<div id="list-orders">
							<span class="glyphicon glyphicon-list-alt"></span> 
							<span>&nbsp;Đơn mua</span>
						</div> 
						{{else}}
						<div id="list-orders" style="background-color: #ddd;">
							<span class="glyphicon glyphicon-list-alt"></span> 
							<span>&nbsp;Đơn mua</span>
						</div> 
						{{/if}}
					</a>
				</ul>
			</div>
<!-- 	<div class="col-md-6">
		&nbsp;
		&nbsp;
	</div> -->
	{{#if isDetailMode}}
	<div class="col-xs-12 col-md-6 form-border" id="table-user-info">

		<table class="table"> 
			<h4>Hồ sơ cá nhân</h4>
			<p>Quản lý thông tin hồ sơ cá nhân</p>
			{{#with user}}
			<tbody> 
				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row">Tên hiển thị</th> 
					<td class="padding-left-30px">
						<span id="display-name">{{displayname}}</span>&nbsp;&nbsp;
						<a class="change-info" href="javascript:;" id="change-display-name" data-toggle="modal" data-target="#myDisplayNameModal"><span class="glyphicon glyphicon-edit"></span></a>
					</td> 

				</tr> 
				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row"><span class="text-align-right">Số điện thoại:</span>	</th> 
					<td class="padding-left-30px">
						<span id="phone">{{phone}}</span>&nbsp;&nbsp;
						<a class="change-info" href="javascript:;" id="change-phone" data-toggle="modal" data-target="#myPhoneModal"><span class="glyphicon glyphicon-edit"></span></a>
					</td> 

				</tr> 

				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row"><span class="text-align-right">Username</span>	</th> 
					<td class="padding-left-30px">
						<span id="email">{{email}}</span>&nbsp;&nbsp;
						<a class="change-info" href="javascript:;" id="change-email" data-toggle="modal" data-target="#myEmailModal"><span class="glyphicon glyphicon-edit"></span></a>
					</td> 

				</tr> 
				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row">Password</th> 
					<td class="padding-left-30px"> <span id="password">*********</span>&nbsp;&nbsp;
						<a class="change-info" href="javascript:;" id="change-password" data-toggle="modal" data-target="#myPasswordModal"><span class="glyphicon glyphicon-edit"></span></a>
					</td> 

				</tr>
			</tbody> 
			{{/with}}
		</table>
	</div>
	{{else}}
	{{#if isPayment}}
			<h3 class="col-xs-12 col-md-6" style="color: #68f;">Thanh toán thành công.</h3>
	{{/if}}
	<div  id="table-orders" class="col-xs-12 col-md-6 form-border" style="display: block;">
		{{#if orders}}
		{{else}}
		<h3 style="text-align: center;">Không có đơn hàng nào.</h3>
		{{/if}}
		{{#each orders}}
		<div class="order">


			<div class="order-title">
							
								
					<h4 class="pull-left">Đơn hàng {{this.order.id}}</h4>
						
					<h5	class="pull-right color-red">{{this.order.status}}</h5>
			</div>	
			<table class="shop-table ">
<!-- 				<thead>
						<tr>
							<td	 class="col-md-2">a</td>
							<td	 class="col-md-4">2</td>
							<td	 class="col-md-2">3</td>
							<td	 class="col-md-2">4</td>
							<td	 class="col-md-2">5</td>
						</tr>
				</thead>	 -->
				<tbody>
					{{#each this.products}}
					<tr class="table-row">
						<td>
							<img src="/assets/image/{{this.product.image}}" alt="" class="shop-table-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									{{this.product.name}}
								</div>

							</div>
						</td>
						<td>
							<!-- <h5> -->
								{{this.product.price}}<sup>đ</sup>
							<!-- </h5> -->
						</td>
						<td>
							{{this.product.quantity}}
						</td>
						<td>
							<!-- <h5> -->
								<strong class="red">
									{{this.totalprice}}
								</strong>
							<!-- </h5> -->
						</td>
						<!-- <td>Đã giao</td> -->
					</tr>
					{{/each}}
					
				</tbody>
				<tfoot>
					<tr>
						<td>
							<a href="/order/detailId={{this.order.id}}" class="pull-left button" style="margin-top: 8px;">
								Xem chi tiết
							</a>
						</td>
						<td colspan="6">
							<h4 class="pull-right" style="margin-top: 8px;">Tổng tiền: {{this.totalprice}} VND</h4>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		{{/each}}
		
	</div>
	{{/if}}

<!-- Trigger the modal with a button -->

<!-- Modal -->

<div id="myDisplayNameModal" class="modal fade" role="dialog">
	<form action="/user/changeDisplayname" method="post" id="dnform">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Thay đổi tên hiển thị</h4>
				</div>
				<div class="modal-body">
					<span>Tên hiển thị:</span>
					<input type="text" name="new_displayname" id="edit-displayname-content">
					<!-- <p id="edit-content">abc</p> -->
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-defaul" id="btn-dn-ok" data-dismiss="modal">OK</button>
				</div>
			
		</div>

	</div>
	</form>
</div>


<div id="myPhoneModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<form action="/user/changePhone" method="post" id="phoneform">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Thay đổi số điện thoại</h4>
			</div>
			<div class="modal-body">
				<span>Số điện thoại mới:</span>
				<input type="number" name="new_phone" id="edit-phone-content">
				<!-- <p id="edit-content">abc</p> -->
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-defaul" id="btn-phone-ok" data-dismiss="modal">OK</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div id="myEmailModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<form action="/user/changeEmail" method="post" id="emailform">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Thay đổi email</h4>
			</div>
			<div class="modal-body">
				<span>Email mới:</span>
				<input type="text" name="new_email" id="edit-email-content">
				<!-- <p id="edit-content">abc</p> -->
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-defaul" id="btn-email-ok" data-dismiss="modal">OK</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div id="myPasswordModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<form action="/user/changePassword" method="post" id="pwform">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Thay đổi mật khẩu</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-8">
					<div class="pw-text">
						<p class="col-md-5">Mật hiện tại:</p>
						<input type="password" name="old_password" id="old-password-content" class="col-md-7">
					
					</div>
					<div class="pw-text">
						<p class="col-md-5">Mật khẩu mới:</p>
						<input type="password" name="new_password" id="edit-password-content" class="col-md-7">
					
					</div>
					<div>
						<p class="col-md-5">Nhập lại mật khẩu:</p>
						<input type="password" name="retypepassword" id="second-edit-password-content" class="col-md-7">
					</div>

				</div>
				<!-- <p id="edit-content">abc</p> -->
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-defaul" id="btn-pw-ok" data-dismiss="modal">OK</button>
			</div>
		</div>
		</form>
	</div>
</div>
</div>
</div>
<script>
	// displayname
	var changedisplayname = document.getElementById("change-display-name");

	changedisplayname.onclick = function() {
		var displayname = document.getElementById("display-name");
		var editcontent = document.getElementById("edit-displayname-content");
		editcontent.value = displayname.innerHTML;
	};

	var btndpok = document.getElementById("btn-dn-ok");
	btndpok.onclick = function() {
		var form = document.getElementById("dnform");
		form.submit();
	};

	var changephone = document.getElementById("change-phone");

	changephone.onclick = function() {
		var phone = document.getElementById("phone");
		var editcontent = document.getElementById("edit-phone-content");
		editcontent.value = phone.innerHTML;
	};

	var btn_phone_ok = document.getElementById("btn-phone-ok");
	btn_phone_ok.onclick = function() {
		var phoneform = document.getElementById("phoneform");
		phoneform.submit();
	};
	//
	//
	//	email
	var changeemail = document.getElementById("change-email");

	changeemail.onclick = function() {

		var email = document.getElementById("email");

		var editcontent = document.getElementById("edit-email-content");
		editcontent.value = email.innerHTML;
	};

	var btn_email_ok = document.getElementById("btn-email-ok");
	btn_email_ok.onclick = function() {
		var form = document.getElementById("emailform");
		form.submit();
	};
	//

	// password
	var changepassword = document.getElementById("change-password");
	changepassword.onclick = function() {
		var editcontent = document.getElementById("edit-password-content");
		var secondEditContent = document.getElementById("second-edit-password-content");
		editcontent.value = "";
		secondEditContent.value = "";
	};

	var btn_pw_ok = document.getElementById("btn-pw-ok");
	btn_pw_ok.onclick = function() {
		var form = document.getElementById("pwform");
		form.submit();
	};

	var listuserinfo = document.getElementById("list-user-info");
	var listorders = document.getElementById("list-orders");
	listuserinfo.style.backgroundColor = "#eee";
	listuserinfo.onclick = function() {
		var orders = document.getElementById("table-orders");
		// orders.style.display = 'none';
		var userinfo = document.getElementById("table-user-info");
		userinfo.style.display = 'block';
		listuserinfo.style.backgroundColor = "#ddd";
		listorders.style.backgroundColor = "unset";
	};

	listorders.onclick = function() {
		// alert("asd");
		var orders = document.getElementById("table-orders");
		orders.style.display = 'block';
		var userinfo = document.getElementById("table-user-info");
		// userinfo.style.display = 'none';
		listorders.style.width = '100%';
		listorders.style.backgroundColor = "#ddd";
		listuserinfo.style.backgroundColor = "unset";
	};
</script>

